.row > *{
    padding-left: 0%;
    padding-right: 0%;
}

.presentation{
    padding-left: 335px; 
    padding-right: 200px; 
    padding-top: 100px;
}

.card{
    width: 18rem;
    margin-right: 50px;
}

.corps{
    padding-top: 20px; 
    padding-bottom: 20px
}

.titre{
    margin-left: 50px;
    margin-bottom: -25px;
    margin-top: 10px;
    margin-right: 70px;
}

.reponse{
    padding-top: 15px;
    padding-bottom: 5px;

}